
services:
  web2:
    image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
    environment:
      - ENVIRONMENT={{ .Values.global.environment }}
      - DB_HOST=database
      - REDIS_HOST=cache
    {{- if .Values.global.network.alias }}
    networks:
      - {{ .Values.global.network.alias }}
    {{- end }}

{{- if .Values.global.network.alias }}
networks:
  {{ .Values.global.network.alias }}:
    driver: {{ .Values.global.network.driver }}
    name: {{ .Values.global.network.name }}
    external: true
{{- end }} 